* {
  font-family: 'Roboto', sans-serif;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  background-color: #2C3E50;
  height: 70px;
  margin-bottom: 0;

}
.navbar-brand {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  background-color: none;

}

.fa-bars {
  color: gray;
  font-size: 20px;
  line-height: 35px;
  border: 1px solid #fff;
  padding: 0 12px;
  border-radius: 5px;;
}
.text_upper li a {
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  line-height: 35px;
  background-color: none;
}
.text_upper a:hover{
  color: #1ABC9C;
}

.navbar-toggle {
  margin-right: 0;
}
.bg_jumbo {
  background-color: #1ABC9C;
}
.text_center {
  text-align: center;
}
.start {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.avatar p {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-bottom: 80px;
}
.fa-star {
  color: #fff;
  font-size: 35px;
  vertical-align: middle;
}
.star {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.cards {
  background-color: #FFFFFF;
}
.cards h2 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
}
.star_blue {
  color: #2C3E50;
}
.line {
  display: inline-block;
  vertical-align: middle;
  height: 3px;
  width: 100px;
  background-color: #fff;
  border-radius: 5px;
}
.blu {
  background-color: #2C3E50;
}

img {
  height: 250px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}
.cards img {
  display: block;
  height: 220px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 25px;
}
.cards img:hover {
  transition: all 0.2s ease-in-out;
  background-color: rgba(26, 188, 156, 0.9);
  opacity: 0.5;
}
.bg_g {
  margin-top: 50px;
  background-color: #1ABC9C;
}

.fa-download {
  color: #fff;
  font-size: 25px;
}
.bg_g p {
  text-align: justify;
  color: #fff;
  font-size: 20px;
  padding: 0 20px;
}
#but:hover{
  background-color: #fff;
}
.btn-outline-light {
  border: 2px solid #fff;
  padding: 15px 30px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.bg_g span {
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
}
.start {
  margin-top: 80px;
}
label {
  display: block;
  text-align: left;
}
form {
  margin-top: 10%;
  padding: 0 20%;
}
.form-control {
  border: none;
  border-bottom: 1px solid #d0d0d0;
}

.form-group button {
  font-size: 20px;
  display: block;
  text-align: left;
  background-color: #1ABC9C;
  border: none;
}
.bg_b {
  background-color: #2C3E50;
  color: #fff;
  padding-bottom: 30px;
}

.bg_b i{
  font-size: 20px;
  margin-top: 14px;
}
.square {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
}
#start_b {
  color: #1ABC9C;
}
.lead {
    padding: 0 5px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}
footer .row  {
  padding-top: 20px;
  padding-right: 5px;
}
.bg_bb {
  background-color: #1A252F;
  padding-top: 20px;
  padding-bottom: 30px;

}
.bg_bb span {
  color: #fff;
  margin-bottom: 20px;
}
footer .col-xs-12,.col-sm-4 {
  padding: 0 20px;
}
